In [1]:
#Extra Examples of Loops

In [4]:
# 1/1! + 2/2! +3/3!+ ....n = ?
n= int(input("Enter the number: "))
result=0
fact = 1
for i in range (1, n+1):
    fact= fact * i
    result= result + i/fact
print(result)

Enter the number:  3

2.5

1. Nested Loops

In [5]:
#Nested Loops

for i in range(1, n+1):
    for j in range(1, n+1):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [15]:
#Patterns
# *
# **
# ***
n= int(input("Enter the rows: "))
for i in range(1, n+1):
    for j in range(1, i+1):
        print('*', end='')
    print()

Enter the rows:  3

*
**
***

In [1]:
n = int(input("Enter the rows: "))
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end="")
    for k in range(i-1, 0, -1):
        print(k, end="")
    print()

Enter the rows:  4

1
121
12321
1234321

2. Loop Control Statements

In [4]:
# Break Statement

for i in range(1, 10):
    if i== 5:
        break
    print(i)

1
2
3
4

In [8]:
# break statement in finding out the prime numbers in the given range

m= int(input("Enter the number: "))
n= int(input("Enter the number: "))

for i in range(m, n+1):
    for j in range(2, i):
        if i%j ==0:
            break
    else:
            print(i)

Enter the number:  10
Enter the number:  20

11
13
17
19

In [10]:
# Continue Statement

for i in range(1, 10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [1]:
#Pass Statement
for i in range(5):
    if i==3:
        pass # do nothing
    else:
        print(i)

0
1
2
4

In [2]:
def function1():
    pass # i will write this function later

3. Strings

In [3]:
#In python, strings are sequence of unicode characters

In [4]:
print(ord('A'))
print(ord('ðŸ˜Š'))

65
128522

a) Creating Strings

In [8]:
s='hello'
print(s)
s="hii"
print(s)
s='''This is apurva.
Nice to meet you!'''
print(s)
s= str('hello')
print(s)

hello
hii
This is apurva.
Nice to meet you!
hello

b) Accessing substrings from a string

#Positive Indexing (L -> R)
s='hello world'
print(s[4])

In [ ]:
print(s[14]) # this will throw error, because the index ends early

In [10]:
#Negative Indexing (R -> L)
s='hello world'
print(s[-3])

r

In [11]:
#Slicing
s='hello world'
print(s[0:5]) # 5 is excluded, till 4

hello

In [12]:
s='hello'
print(s[2:3])

l

In [13]:
#Very Important
s='hello world'
print(s[:])

hello world

In [14]:
#Easy way to reverse a string faster
print(s[::-1])

dlrow olleh

In [16]:
print(s[0:6:2])
print(s[6:0:-1])
print(s[-5:])

hlo
w olle
world

In [17]:
s='hello world'
print(s[-1:-6:-1])

dlrow

c) Editing and Deleting in Strings

In [ ]:
s='hello world'
s[0]= 'H'  # this whole will throw the error, bc python strings are immutable

In [20]:
s='hello world'
del s
print(s)

NameError: name 's' is not defined

# Important Case
#Here the string cannot be deleted partially
s= 'hello world'
del s[-1:-5:2]
print(s)

d) Operations on Strings

In [28]:
#Arithmetic Operations
print('delhi'+ ' '+ 'mumbai')
print('delhi'*5)
print("*"*50)

delhi mumbai
delhidelhidelhidelhidelhi
**************************************************

In [29]:
#Realtional Operators
print('delhi' == 'mumbai')
print('delhi' == 'delhi')
print('delhi' != 'delhi')

False
True
False

In [30]:
# Relational Operators
print('mumbai' > 'pune')
print('Pune' > 'pune')
# Python compares strings lexicographically (like dictionary order).
#'mumbai' > 'pune' â†’ False (because 'm' (109) is less than 'p' (112))
#'Pune' > 'pune' â†’ False (because 'P' (80) is less than 'p' (112))

False
False

In [31]:
# Logical Operators
# Empty String is False here and Occupied String is True
print('hello' and 'world')
print('hello' or 'world')
print('' and 'hello')
print('' or 'world')

world
hello

world

In [1]:
print(not 'hello')
print(not '')

False
True

In [2]:
#Loops on Strings
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [3]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [4]:
#Membership Operators
text = "hello world"

print("hello" in text)      # True (because "hello" exists in text)
print("python" in text)

True
False

In [6]:
#Common Functions

print(len('hello world'))
print(max('hello world'))
print(min('hello world'))
print(sorted('hello world'))
print(sorted('hello world', reverse= True))

11
w

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']
['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [7]:
#String Specific Functions

s='hello world'
print(s.capitalize())
print(s.title())
print(s.upper())
print(s.lower())

Hello world
Hello World
HELLO WORLD
hello world

In [8]:
print('HeLLo WoRlD'.swapcase())

hEllO wOrLd

In [9]:
print('my name is apurva'.count('a'))
print('my name is apurva'.find('is'))
print('my name is apurva'.find('x'))
print('my name is apurva'.index('a'))
print('my name is apurva'.index('x'))
print('my name is apurva'.endswith('va'))
print('my name is apurva'.startswith('my'))

3
8
-1
4

ValueError: substring not found

In [10]:
#Format Function

name='apurva'
gender='female'

print('Hi my name is {} and I am a {}'.format(name, gender))
print('Hi my name is {0} and I am a {1}'.format(name, gender))

Hi my name is apurva and I am a female
Hi my name is apurva and I am a female

In [11]:
print('nitish1234'.isalnum())
print('nitish1234%'.isalnum())
print('nitish'.isalpha())
print('123abc'.isdigit())
print('1name'.isidentifier())
print('hi my name is apurva'.split())
print('hi my name is apurva'.split('i'))
print('hi my name is apurva'.split('is'))

True
False
True
False
False
['hi', 'my', 'name', 'is', 'apurva']
['h', ' my name ', 's apurva']
['hi my name ', ' apurva']

In [12]:
"-".join(['hi', 'my', 'name', 'is', 'apurva'])

'hi-my-name-is-apurva'

In [13]:
print('hi my name is apurva'.replace('apurva', 'campusx'))
print('apurva           '.strip())
#in case of java , its trim()

hi my name is campusx
apurva