1. Python Output

In [1]:
print("Hello World")

Hello World

In [3]:
print(salman khan)  #error

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1473128490.py, line 1)

In [4]:
print(7)

7

In [5]:
print(7.7)

7.7

In [6]:
print(True)

True

In [7]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [8]:
print('Hello', 1, 4.5, True, sep='/')

Hello/1/4.5/True

In [9]:
print('hello')
print('world')

hello
world

In [10]:
print('hello', end='-')
print('world')

hello-world

2. Datatype

In [11]:
#Integer
print(8)
print(1e309)
print(1e308)

8
inf
1e+308

In [12]:
#Decimal/Float
print(8.55)
print(1.7e308)
print(1.7e309)

8.55
1.7e+308
inf

In [13]:
#Boolean (True/False)
print(True)
print(False)

True
False

In [14]:
#Text/String
print('Hello World')

Hello World

In [15]:
#Complex
print(5+6j)

(5+6j)

In [16]:
#List
print([1,2,3,4])

[1, 2, 3, 4]

In [17]:
#Set
print({1,2,3})

{1, 2, 3}

In [18]:
#Tuple
print((1,2,3,4))

(1, 2, 3, 4)

In [19]:
#Dictionary
print({'name':'apurva', 'rollno':'7'})

{'name': 'apurva', 'rollno': '7'}

3. Type of Data

In [20]:
print(type(5))

<class 'int'>

In [21]:
print(type('apurva'))

<class 'str'>

4. Variables

In [ ]:
# C/ C++/ Java- Static Typing
String name= 'nitish'

In [27]:
#Python - Dynamic Typing
name= 'apurva'
print(name)

a=6
b=3
print(a+b)

apurva
9

In [29]:
#Dynamic Binding - This will work in python
a=5
print(a)

a='a'
print(a)

5
a

In [ ]:
# Static Binding - This works in C/ C++/ Java
int a=5
a=10
a=5.5 #this will throw error

5. Stylish Declaration

In [30]:
a=1
b=2
c=3
print(a,b,c)

1 2 3

In [31]:
a,b,c= 1,2,3
print(a,b,c)

1 2 3

In [32]:
a=b=c=5
print(a,b,c)

5 5 5

6. Keywords and Identifiers

In [33]:
#Keywords: False, nonlocal, while,assert, del, global, not, with, async, elif, if, or, yield, await, else, import, pass ,None, break, except, in, raise, True, class ,finally, is, return , and, continue, for ,lambda, try, as ,def, from

In [34]:
#Identifiers

In [35]:
# 1name will give error
name1= 'nitish'
print(name1)

nitish

In [36]:
#first-name will give error
first_name= 'apurva'
print(first_name)

apurva

In [37]:
_= 's'
print(_)

s

7. User Input

In [38]:
input("What is your name?" )

What is your name? apurva

'apurva'

First Program

In [39]:
#Addition of two numbers
#1.First take two numbers and assign them to two variables
#2.Make third variable and store result in it
#3.Print the result

In [40]:
fnum= input("Enter first number: ")
snum= input("Enter second number: ")
print(type(fnum), type(snum))

result= fnum + snum
print(result)

Enter first number:  4
Enter second number:  2

<class 'str'> <class 'str'>
42

In [41]:
#The above program gives wrong answer as the universal data type is string so

7. Type Conversion

In [44]:
print(4 + 0.5)  # Implicit type conversion works here

4.5

In [45]:
print(type(4), type(0.5))

<class 'int'> <class 'float'>

In [46]:
print (4 + '6') #It will give error here

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
#Converting string to int using explicit type conversion
a= int('2')
print(a)

2

In [49]:
type(a)

int

In [50]:
#1. Float to Int
int(4.5)

4

In [51]:
#2. Int to str
str(5)

'5'

In [52]:
#3. Int to float
float(4)

4.0

Solution

In [55]:
fnum= input("Enter first number: ")
snum= input("Enter second number: ")
print(type(fnum), type(snum))

result= int(fnum) + int(snum)
print(type(fnum)) #I thought after conversion, it will be int, but it is not, because python do not make changes in the existing type of the variable, instead it just creates a new object of requested type 
print(result)
print(type(result))

Enter first number:  2
Enter second number:  4

<class 'str'> <class 'str'>
<class 'str'>
6
<class 'int'>

In [56]:
fnum= int(input("Enter first number: "))
snum= int(input("Enter second number: "))
print(type(fnum), type(snum))

result= fnum + snum
print(type(fnum))  
print(result)
print(type(result))

Enter first number:  2
Enter second number:  4

<class 'int'> <class 'int'>
<class 'int'>
6
<class 'int'>

8. Literals

In [58]:
#Integer Literals
a=0b1010
print(a)

b=100
print(b)

c=0o310
print(c)

d=0x12c
print(d)

10
100
200
300

In [60]:
#Float Literals
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3
print(float_1, float_2, float_3)

10.5 150.0 0.0015

In [61]:
#Complex Literals
x= 3.14j
print(x)
print(x.real, x.imag)

3.14j
0.0 3.14

In [65]:
#String
string= 'This is python'
strings= "This is python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
raw_str= r"raw \n string"
unicode = "\U0001F600\U0001F606\U0001F923"

print(string)
print(strings)
print(char)
print(multiline_str)
print(raw_str)
print(unicode)

This is python
This is python
C
This is a multiline string with more than one line code.
raw \n string
😀😆🤣

In [67]:
#Boolean
a= True +4
b= False + 10
print("a:" ,a)
print("b:" ,b)

a: 5
b: 10

In [68]:
#None
a= None
print(a)

None

In [ ]:
k
a=5
b=6
print('Program exe')
#This will through an error as k not be declared like that so we should use k= None