Tuples in Python

1. Creating a tuple

In [1]:
#empty tuple
t1=()
print(t1)

()

In [3]:
#creating a tuple with single element
t2=(2)
print(t2) # this will not throw an error, but its datatype is different and syntax for tuple for single element is different
print(type(t2))

2
<class 'int'>

In [4]:
t2=(2,)
print(t2)
print(type(t2))

(2,)
<class 'tuple'>

In [5]:
#homo tuple
t3= (1,2,3,4)
print(t3)

#hetero tuple
t4=(1,2.5, True, [1,2,3])
print(t4)

#2d tuple
t5=(1,2,3,(4,5))
print(t5)

#using type conversion
t6=tuple('hello')
print(t6)

(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

2. Accessing Items

In [6]:
#Indexing
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [9]:
#Slicing
print(t3[0:4:2])
print(t3[-3:-1])
print(t3[::-1])
print(t5[-1][0])

(1, 3)
(2, 3)
(4, 3, 2, 1)
4

3. Editing elements

In [10]:
print(t3)
t3[0]=100  #immutable

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

4. Adding elements

In [ ]:
print(t3)  #not possible for adding too

5. Deleting

In [11]:
#delete can work completely on a single tuple but not partially
print(t3)
del t3
# print(t3)

(1, 2, 3, 4)

6. Operations on tuples (+, *, in)

In [12]:
#Addition and Multiplication Operations
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)
print(t1*3)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [13]:
# Membership Operations
print(1 in t1)

True

In [14]:
#Loops
for i in t1:
    print(i)

1
2
3
4

7. Functions in tuples

In [15]:
t= (1,2,3,4)
print(len(t))
print(max(t))
print(min(t))
print(sorted(t))
print(sum(t))

4
4
1
[1, 2, 3, 4]
10

In [16]:
t= (1,2,3,4,5)
print(t.count(5))
print(t.index(5))

1
4

In [22]:
#Speed/ time code for illustration
import time

L=list(range(100000000))
T=tuple(range(100000000))

start= time.time()
for i in L:
    i*5
print('List time', time.time()-start)

start= time.time()
for i in T:
    i*5
print('Tuple time', time.time()- start)

List time 12.671893119812012
Tuple time 17.799916744232178

In [25]:
#Correct Code
import timeit

# smaller size for fair comparison
N = 10_000_00  # 1 million

L = list(range(N))
T = tuple(range(N))

list_time = timeit.timeit("for i in L: i*5", globals=globals(), number=10)
tuple_time = timeit.timeit("for i in T: i*5", globals=globals(), number=10)

print("List time :", list_time)
print("Tuple time:", tuple_time)

List time : 0.33069939999950293
Tuple time: 0.26751770000009856

In [24]:
#Space wise code for illustration

import sys
L=list(range(1000))
T=tuple(range(1000))

print('List Size', sys.getsizeof(L))
print('Tuple Size', sys.getsizeof(T))

List Size 8056
Tuple Size 8040

In [20]:
#Error Prone in List
a=[1,2,3]
b=a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [21]:
#No Error Prone in Tuple
a=(1,2,3)
b=a
a= a+(4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

8. Special Syntax

In [26]:
#Tuple Unpacking
a,b,c= (1,2,3)
print(a,b,c)

1 2 3

In [27]:
a,b= (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [29]:
a,b,*others=(1,2,3,4,5)
print(a,b)
print(others)

1 2
[3, 4, 5]

In [30]:
#Swapping in python

a=1
b=2
a,b=b,a
print(a,b)

2 1

9. Zip Function

In [32]:
a=(1,2,3,4,5)
b=(6,7,8,9)

print(tuple(zip(a,b)))
print(list(zip(a,b)))
print(set(zip(a,b)))

((1, 6), (2, 7), (3, 8), (4, 9))
[(1, 6), (2, 7), (3, 8), (4, 9)]
{(4, 9), (1, 6), (3, 8), (2, 7)}

Sets in Python

Creating Sets

In [1]:
#empty set
s= {}
print(s)
print(type(s))

{}
<class 'dict'>

In [2]:
#empty set correct one
s= set()
print(s)
print(type(s))

set()
<class 'set'>

In [4]:
# 1D and 2D Set
s1= {1,2,3}
print(s1)
s2= {1,2,3,{4,5}}  # not possible
print(s2)

{1, 2, 3}

TypeError: unhashable type: 'set'

In [6]:
#homo set
s3 ={1, 'hello', 4.5, True}
print(s3)

s4= {1, 'hello', 4.5, (1,2,3)}
print(s4)

{'hello', 1, 4.5}
{'hello', 1, (1, 2, 3), 4.5}

In [7]:
#Using type conversion
s5 =set([1,2,3])
print(s5)

{1, 2, 3}

In [8]:
#duplicates not allowed
s6 = {1,1,2,2,3,3}
print(s6)

{1, 2, 3}

In [10]:
s1= {1,2,3}
s2= {3,2,1}

print(s1==s2) # True bc sets are unordered

True

Accessing Items

In [ ]:
s1 = {1,2,3,4}
s1[0]  # gives error

Editing Items - Not Possible

Adding Items in Set

In [11]:
s = {1,2,3,4}

#add
s.add(5)
print(s)

#update
s.update([5,6])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

Deleting Items

In [ ]:
# del 

s= {1,2,3,4,5}
print(s)
del s   # del s[0] - not possbile
print(s) # gives error

In [12]:
# discard
s.discard(5)
print(s)

{1, 2, 3, 4, 6}

In [14]:
#remove
s.remove(2)
print(s)

{1, 3, 4, 6}

In [15]:
#pop- randomly remove it
s.pop()
print(s)

{3, 4, 6}

Set Operations

In [16]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

#union
print(s1 | s2)

#intersection
print(s1 & s2)

#difference
print(s1-s2)
print(s2-s1)

#symmetric difference
print(s1 ^ s2)

#membership 
print(1 in s1)

#loop
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
True
1
2
3
4
5

Functions

In [17]:
s= {1,2,3,4,5}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))
print(sorted(s, reverse= True))

5
15
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [19]:
s1= {1,2,3,4,5}
s2= {4,5,6,7,8}
print(s1.union(s2))
print(s1.update(s2))
print(s1)
print(s2)

print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8}
None
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3}

In [22]:
#disjoint, subset, superset

s1= {1,2,3,4}
s2= {3,4,5,6}
print(s1.isdisjoint(s2))

s3= {7,8,5,6}
print(s1.isdisjoint(s3))


print(s2.issubset(s1))
print(s1.issuperset(s2))

False
True
False
False

In [24]:
# copy
s1= {1,2,3}
s2 =s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

Frozenset

In [25]:
#Creating frozenset

fs= frozenset([1,2,3])
fs

#works - all read functions
#doesn't work- write operations

frozenset({1, 2, 3})

Set Comprehension

In [29]:
print({i for i in range(1,11)})
print({i for i in range (1, 11) if i >5})

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}